.tickets li:nth-child(even) {background: #08c}
.tickets li:nth-child(odd) {background: #eb3c00 }
.help-inline{
color:red;
}
.green-text{color:green !important;}
.red-text{color:red !important;}
.blue-text{color:blue !important;}
